@font-face {
    font-family: 'Arkitech';
    src: url('res/fonts/Arkitech-Light.woff2') format('woff2'),
        url('res/fonts/Arkitech-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arkitech';
    src: url('res/fonts/Arkitech-Medium.woff2') format('woff2'),
        url('res/fonts/Arkitech-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12pt;
	margin: 0px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

div.leader img {
	height: 200px;
}

div.income img {
	max-width: 400px;
}

div.runner {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	flex: 1;
}

div.runner a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	border-bottom: 1px dotted rgb(0, 0, 0);
}

div.runner a:hover {
	color: rgb(0, 105, 217);
	border-bottom: 1px dotted rgb(0, 105, 217);
}

div.figure img {
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
}

div.leader {
	font-size: 24pt;
	font-weight: 100;
	margin-top: 24px;
	margin-bottom: 24px;
}

div.leader div.top-message {
	text-align: center;
	margin-top: 48px;
	margin-bottom: 48px;
	font-family: 'Pacifico', cursive;
	font-size: 48pt;
}

div.leader div.main-message {
	text-align: center;
	margin-top: 48px;
	margin-bottom: 48px;
}

div.leader div.main-message span.now {
	font-family: 'Pacifico', cursive;
	font-size: 32pt;
}

div.leader div.main-message input[type="checkbox"] {
	width: 24px;
	height: 24px;
	margin-right: 12px;
}

div.leader div.main-message label {
	padding: 8px;
}

div.leader div.main-message div.form-check {
	display: inline-block;
}

div.leader div.main-message label:hover {
	background-color: rgb(165, 172, 185);
}

span.feature-point {
	font-weight: 300;
	color: rgb(29, 49, 80);
}

div.leader table {
	font-size: 24pt;
	font-weight: 100;
	border-spacing: 0px;
	margin-top: 48px;
	margin-bottom: 48px;
}

div.leader table td.graphic {
	text-align: center;
	padding: 0px;
	min-width: 400px;
}

div.leader table td.graphic img {
	width: 300px;
	height: auto;
}

div.leader table td.text {
	text-align: left;
	padding: 8px;
	vertical-align: middle;
}

div.use-cases img {
	width: 100%;
	height: auto;
}

div.leader-left {
	float: left;
}

div.leader-right {
	float: right;
}

div.header {
	font-size: 18pt;
	font-weight: 200;
	margin-top: 24px;
	margin-bottom: 12px;
	color: rgb(29, 49, 80);
}

div.header img {
	height: 48px;
}

table.pricing-table {
	margin-top: 24px;
	margin-bottom: 24px;
	border-spacing: 0px;
	border-collapse: collapse; 
}
table.pricing-table tr {
	border-bottom: 1px dotted rgb(220, 220, 220);
}
table.pricing-table td.item {
	padding-top: 12px;
	padding-bottom: 12px;
	min-width: 400px;
}
table.pricing-table td.amount {
	padding: 12px;
}

table.pricing-table span.free {
	font-weight: 600;
}


table.list-table {
	margin-top: 24px;
	margin-bottom: 24px;
	border-spacing: 0px;
	border-collapse: collapse; 
}
table.list-table tr {
	border-bottom: 1px dotted rgb(220, 220, 220);
}
table.list-table td.item {
	padding-top: 12px;
	padding-bottom: 12px;
	min-width: 64px;
}

table.list-table td.item img {
	height: 32px;
}

table.list-table td.amount {
	padding: 12px;
}



div.use-cases {
	margin-top: 24px;
	margin-bottom: 24px;
}

#header-place {
	/* this should match LOGO_S1 */
	height: 200px;
}

#header {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	background-color: rgb(255, 255, 255);
}

#header table {
	width: 100%;
	border-spacing: 0px;
}
#header td {
	vertical-align: bottom;
}
#logo {
	min-width: 300px;
	vertical-align: top !important;
}
#header td.start {
	min-width: 300px;
	vertical-align: middle;
	text-align: right;
}
#header td.expand {
	width: 100%;
	text-align: center;
}

#header div.tab-container a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

#header a div.tab:hover {
	border-bottom: 4px solid rgb(165, 172, 185);
}

#header div.tab {
	display: inline-block;
	padding: 12px;
	margin: 0px;
	border-width: 0px;
	border-bottom: 4px solid rgb(255, 255, 255);
}

#header div.tab-selected {
	border-bottom: 4px solid rgb(29, 49, 80);
}

#start {
	margin-right: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#footer {
	color: rgb(255, 255, 255);
	background-color: rgb(64, 64, 64);
	font-weight: 100;
	padding: 24px;
	text-align: center;
	margin-top: 24px;
}

#footer div.link a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 4px;
}

#footer div.link a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#footer div.link {
	margin-top: 12px;
	margin-bottom: 12px;
}

#footer table {
	border-spacing: 0px;
}

#footer td {
	color: rgb(255, 255, 255);
	min-width: 200px;
	font-weight: 100;
	vertical-align: top;
}

#footer div.link-container {
	display: inline-block;
}

#footer div.social-container {
	margin-top: 24px;
}

#footer div.social-container div {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 12px;
}

#footer img.social {
	max-height: 24px;
}

#footer div.store {
	margin-top: 12px;
	margin-bottom: 12px;
}

#footer div.store img {
	max-height: 40px;
}

#footer div.g2 {
	margin-top: 12px;
	margin-bottom: 12px;
}

#footer div.g2 img {
	max-height: 64px;
}

#footer div.copyline {
	margin-top: 24px;
}

div.stats div.stats-container {
	margin-top: 24px;
	margin-bottom: 24px;
}

div.stats div.stat {
	display: inline-block;
	min-width: 380px;
	/*margin-right: 24px;
	margin-top: 12px;*/
}

div.stats table {
	border-spacing: 0px;
}

div.stats td.title {
	font-size: 10pt;
	font-weight: 100;
}

div.stats td.title {
	font-size: 10pt;
	font-weight: 600;
}

div.stats td.current {
	font-size: 18pt;
	font-weight: 100;
	padding-left: 12px;
	padding-right: 12px;
	min-width: 124px;
}

div.stats div.substat {
	display: inline-block;
	font-size: 8pt;
}
