<!DOCTYPE html>
<html lang="en">
<head>
    {{ title_icons_meta() }}

    {{ fonts() }}

    {{ app_js_css() }}
</head>
<body>
	{{ dialog_connect(page_name=page_name) }}

    {{ tab_header(page_name=page_name) }}

	<div class="runner">
		<div>
			<div class="header">Vulnerability Disclosure Policy Acknowledgements</div>
			<div>Thank you for working with us to build the most secure privacy network in the world.</div>
		</div>
	</div>

	{{ footer() }}

</body>
</html>
