
{{ html_header() }}
<head>
    {{ title_icons_meta() }}

    {{ fonts() }}

    {{ app_js_css() }}
    
    <style>
        iframe {
            max-width: 100px !important;
        }

        div.data-pack-top img.data-pack {
            transform: scale(1.0);

            transition: transform .4s ease;
        }

        div.data-pack-top:hover img.data-pack {
            transform: scale(1.1);
        }

        div.data-pack-top:hover {
            background-color: rgba(220, 220, 220, 0.2);
            border-radius: 12px;
        }

        div.data-pack-top {
            float: left;
            padding: 24px;
        }

        div.data-pack-top button {
            white-space: nowrap;
        }

        div.most-popular {
            white-space: nowrap;
          font-weight: bold;
        }

        div.runner > div {
            margin-top: 24px;
        }
    </style>
</head>
<body>
    {{ dialog_connect() }}

    {{ tab_header() }}

    <div class="runner">

    <div>
        Data packs are an alternate way to get access to the network that can be paid for with a variety of options, including crypto. This can be useful for apps where in-app purchases are not available, such as alternate app stores or gifting.
    </div>
    <div>
        Payment methods supported include:
        <ul>
            <li>Stripe: Credit, Debit, ACH, Cash App, WeChat, +more</li>
            <li>Coinbase: USDC, Bitcoin, Ethereum, +more</li>
        </ul>
    </div>
    <div>
        Data will expire 1 year after purchase. A data code will be emailed after purchase and can be added to any account by tapping the link in the email, or entering the code at <a href="https://app.bringyour.com/account/add-balance">https://app.bringyour.com/account/add-balance</a>.
    </div>
    <div>
    <script async src="https://js.stripe.com/v3/buy-button.js">
    </script>
    <div class="data-pack-top">
        <div><img src="/res/images/300GiB.png" style="width: 200px" class="data-pack"></div>
        <div style="display: inline-block; width: 140px; padding-left: 24px; padding-right: 24px;">
            <div>$5</div>
            <button style="margin-top: 4px" onclick="window.open('https://pay.bringyour.com/b/14kaIs4Thbo74fe3ch', '_blank');" class="btn btn-primary">Buy with Stripe</button>
            <button style="margin-top: 4px" onclick="window.open('https://commerce.coinbase.com/checkout/033b1385-3a39-444f-9ad0-04ff3567f706', '_blank');" class="btn btn-secondary">Buy with Coinbase</button>

        </div>
    </div>
    <div class="data-pack-top">
        <div><img src="/res/images/1TiB.png" style="width: 200px" class="data-pack"></div>
        <div style="display: inline-block; width: 140px; padding-left: 24px; padding-right: 24px;">
            <div><s>$17</s> <b>$10</b> (save 40%)</div>
            <button style="margin-top: 4px" onclick="window.open('https://pay.bringyour.com/b/9AQ5o8adB77R27628c', '_blank');" class="btn btn-primary">Buy with Stripe</button>
            <button style="margin-top: 4px" onclick="window.open('https://commerce.coinbase.com/checkout/e4d94c97-b7a0-4a4d-ba03-2bc549df15f9', '_blank');" class="btn btn-secondary">Buy with Coinbase</button>

        </div>
    </div>
    <div class="data-pack-top">
        <div><img src="/res/images/2TiB.png" style="width: 200px" class="data-pack"></div>
        <div style="display: inline-block; width: 140px; padding-left: 24px; padding-right: 24px;">
            <div><s>$34</s> <b>$17</b> (save 50%)</div>
            <div class="most-popular">Most Popular</div>
            <button style="margin-top: 4px" onclick="window.open('https://pay.bringyour.com/b/3csdUE1H5eAjbHG8wz', '_blank');" class="btn btn-primary">Buy with Stripe</button>
            <button style="margin-top: 4px" onclick="window.open('https://commerce.coinbase.com/checkout/f53551c1-b0c6-46fc-8df8-e11ca91cc386', '_blank');" class="btn btn-secondary">Buy with Coinbase</button>

        </div>
    </div>
    <div style="clear: both;"></div>
    </div>
    <div class="header">Give data to your entire team with a company data pack
    </div>
    <div>
        We offer a company data pack that gives anyone with an email in a private domain access to a shared amount of data. The shared data is valid for one year after purchase. A staff member will reach out after purchase to set up the account.
    </div>

    <div class="data-pack-top">
        <div><img src="/res/images/Company10TiB.png" style="width: 200px" class="data-pack"></div>
        <div style="display: inline-block; width: 140px; padding-left: 24px; padding-right: 24px;">
            <div>$100</div>
            <button style="margin-top: 4px" onclick="window.open('https://pay.bringyour.com/b/6oE7wgclJ3VF7rqfZ4', '_blank');" class="btn btn-primary">Buy with Stripe</button>
        </div>
    </div>

    <div class="data-pack-top">
        <div><img src="/res/images/Company100TiB.png" style="width: 200px" class="data-pack"></div>
        <div style="display: inline-block; width: 140px; padding-left: 24px; padding-right: 24px;">
            <div><s>$1000</s> <b>$500</b> (save 50%)</div>
            <button style="margin-top: 4px" onclick="window.open('https://pay.bringyour.com/b/4gw3g04ThcsbdPOfZ5', '_blank');" class="btn btn-primary">Buy with Stripe</button>
        </div>
    </div>



    <div style="clear: both;"></div>
</div>

    {{ footer() }}

</body>
{{ html_footer() }}
