{{ html_header() }}
<head>
    {{ title_icons_meta() }}

    <link rel="canonical" href="https://bringyour.com/">
    <link rel="manifest" href="/manifest.json" />

    {{ fonts() }}

    {{ app_js_css() }}
</head>
<body>
    <script>
        // delay loading the logo to optimize initial load time
        windowLoadCallbacks.push(() => {
            let load = () => {
                loadScript('/lib/p5.min.js', () => {
                    loadScript('/logo.js', () => {
                        loadScript('/sketch_220824a.js', () => {

                        })
                    })
                })
            }
            if (isSlowMobile) {
                setTimeout(load, 4000)
            } else {
                load()
            }
        })
    </script>

    {{ dialog_connect() }}

    {{ tab_header() }}

    <div class="runner">
        <div style="text-align: center; padding-top: 48px; padding-bottom: 48px;"">
            <div><img src="res/images/ur.svg" width="300"></div>
            <div style="padding-top: 24px;"><img src="res/images/URnetwork-logo-black-400-80.svg" width="300"></div>
        </div>

        <div>
            <div><b>We're now shorter, simpler, and faster at <a href="https://ur.io">https://ur.io</a>!</b></div>
            <div style="padding-top: 12px;">Our passion is to give users internet that just works anywhere, everywhere, and pays to be part of it. Get all the content and all the privacy, </div>
            <div style="text-align: center; padding-top: 12px;">
        <button class="btn btn-primary">Connect</button>
        </div>
        </div>
        
        

        <div class="world" style="padding-top: 48px; padding-bottom: 48px;">
            <img src="res/images/ur-sq.webp">
        </div>

    </div>

    {{ footer() }}

</body>
{{ html_footer() }}
