{{ html_header() }}
<head>
    {{ title_icons_meta() }}

    <link rel="canonical" href="https://bringyour.com/">
    <link rel="manifest" href="/manifest.json" />

    {{ fonts() }}

    {{ app_js_css() }}
</head>
<body>
    <script>
        // delay loading the logo to optimize initial load time
        windowLoadCallbacks.push(() => {
            let load = () => {
                loadScript('/lib/p5.min.js', () => {
                    loadScript('/logo.js', () => {
                        loadScript('/sketch_220824a.js', () => {

                        })
                    })
                })
            }
            if (isSlowMobile) {
                setTimeout(load, 4000)
            } else {
                load()
            }
        })
    </script>

    {{ dialog_connect() }}

    {{ tab_header() }}

    <div class="runner">
        <div class="icon">
            <div><a href="https://ur.io"><img src="res/images/ur.svg" alt="URnetwork icon"></a></div>
            <div><a href="https://ur.io"><img src="res/images/urnetwork-logo-black-400-80.svg" alt="URnetwork"></a></div>
        </div>

        <div class="newname">
            <div><b>We're now shorter, simpler, and faster at <a href="https://ur.io">https://ur.io</a>!</b></div>
            <div><button class="btn btn-primary">Connect</button></div>
        </div>
        
        

        <div class="world" style="padding-top: 48px; padding-bottom: 48px;">
            <img src="res/images/ur-sq.webp" alt="BringYour is now URnetwork">
        </div>

    </div>

    {{ footer() }}

</body>
{{ html_footer() }}
