
{{ html_header() }}
<head>
    {{ title_icons_meta() }}

    {{ fonts() }}

    {{ app_js_css() }}
    
    <style>

        div.runner > div {
            margin-top: 24px;
        }

        div.sub-header > div:nth-of-type(1) {
            font-weight: bold;
            margin-bottom: 12px;
        }

        div.sub-header > div:not(:nth-of-type(1)) {
            margin-bottom: 6px;
        }
    </style>
</head>
<body>
    {{ dialog_connect() }}

    {{ tab_header() }}


<div class="runner">

<div class="header">Default Safe: Our Trust and Safety Process</div>

<div>This page outlines our process as of May 2024. This file is <a href="https://github.com/bringyour/product/blob/main/trust-and-safety/trust-and-safety.md">versioned</a> so that you can track changes. For input and feedback please join <a href="https://bringyour.com/discord">our Discord</a>.</div>

<div>Our trust and safety process is how we create a network for all users to safely participate with the most access and the most privacy possible. At BringYour our goal is to create a network where everyone can participate knowing they will be safe, and users are confident their traffic is uncensored, anonymous, and encrypted.</div>

<div>The process we use is to combine an automated &quot;frontline&quot; with a catch-all &quot;backline&quot; abuse audit process that preserves privacy. Most issues are resolved automatically by the frontline, which involves a mix of protocol and economic incentives. It involves turning off protocols associated with botnets and copyright abuse, while keeping web and app traffic uncensored and free. All levels are opt-out, meaning there are ways for providers to change the rules. Our stance is that we want to have a safe default, but allow users to have freedom of choice.</div>


<div class="header">Warrant canary</div>

<div>If the <a href="https://bringyour.com/warrant-canary">warrant canary</a> exists, it means that we confirm:

<ul>
<li>BringYour has never turned over our encryption or authentication keys or our customers' encryption or authentication keys to anyone.</li>

<li>BringYour has never installed any law enforcement software or equipment anywhere on our network.</li>

<li>BringYour has never provided any law enforcement organization a feed of our customers' content transiting our network.</li>

<li>BringYour has never modified network content at the request of law enforcement or another third party.</li>

<li>BringYour has never weakened, compromised, or subverted any of its encryption at the request of law enforcement or another third party.</li>
</ul>
</div>



<div class="header">Transparency report</div>

<div>We publish <a href="https://bringyour.com/transparency-report">quarterly statistics</a> of the number and type of abuse reports, decryptions of the abuse logs, and type of outcomes.</div>




<div class="header">Frontline protocol and economic incentives</div>

<div>The frontline are automated rules embedded within the clients and providers. If the client and provider mutually agree to change the rules, it is possible to use different rules. However, it is not possible for one party to to change the rules without the other party, and a mismatch in rules will raise a contract dispute. In this way these rules are the default, but there are ways that two parties can opt-out of the rules. Our stance is that we want to have a safe default, but allow users to have freedom of choice. We explain the directions to change the rules at the end.</div>

<div>The current default set of frontline rules are split into protocol limits, rate limit, and contract limits.</div>


<div class="header">Protocol limits</div>

<div class="sub-header">
<div>No local network access</div>

<div>Only public unicast addresses are routable. Traffic to private or multicast addresses will not route.</div>
</div>


<div class="sub-header">
<div>Disable unencrypted protocols</div>

<div>Plain DNS and HTTP are disabled. The device must use DoH/DoT and HTTPs.</div>

<div>Unencrypted mail protocols are disabled. The encrypted versions of these protocols are supported.</div>

<div>DNS (port 53) is blocked.</div>
<div>HTTP (port 80) is blocked.</div>
<div>IMAP (port 143) is blocked.</div>
<div>SMTP (port 25) is blocked.</div>
<div>POP (port 110) is blocked.</div>

</div>


<div class="sub-header">
<div>Block restricted ports</div>

<div>The restricted port range is used by many core internet protocols which are most susceptible to abuse. Our goal is to block all restricted ports except protocols needed by mainstream users to access almost all of the web, communication, apps, and gaming.</div>

<div>HTTPS (port 443) is unblocked.</div>
<div>DoH (port 443) in unblocked.</div>
<div>DoT (port 853) is unblocked.</div>
<div>IMAP TLS (port 993) is unblocked.</div>
<div>SMTP TLS (ports 587 and 465) is unblocked.</div>
<div>POP TLS (port 995) is unblocked.</div>
<div>SFTP (port 990) is unblocked.</div>

</div>

<div class="sub-header">
<div>Block protocols that commonly lead to abuse to providers</div>

<div>We unblock all user ports except protocols that lead to an excess number of abuse reports for providers. It does not mean these protocols are inherently bad. Rather, they cause an a strain for providers that makes it harder to safely be a provider. Generally user ports are used widely in WebRTC, communication, and gaming.</div>

<div>Bittorrent (ports 6881-6889) is blocked.</div>

<div>IRC (port 6667) is blocked.</div>
</div>


<div class="header">Rate limits</div>

<div class="sub-header">
<div>Connection rate limit per source</div>

<div>Each source can only create a limited number of new TCP connections and UDP streams per second. The number is high enough that it does not impact normal use cases. The goal of the rate limit is to prevent traffic abuse using the network.</div>
</div>

<div class="sub-header">
<div>Parallel connections limit per source</div>

<div>The number of parallel connections per source is limited. Additionally the number of parallel connections per provider is limited by the ulimit settings of the provider device. The goal of the parallel limit is to prevent prevent traffic abuse using the network.</div>
</div>

<div class="header">Contract limits</div>

<div class="sub-header">
<div>Minimum contract close</div>

<div>It costs some minimum amount to send any data, no matter how small. The goal is to have a small minimum to not penalize normal users, but make it economically costly to avoid the rate limits by using many accounts.</div>
</div>


<div class="header">Changing the rules</div>

<div>On our roadmap is to let providers turn off any of the default rules. The providers would do this knowing the network is not able to keep them safe. We are considering a way to let providers signal which rules are enabled, so that clients who want to choose a different set of rules can choose the providers that match those rules. In other words, users could select providers that disable rules when searching for providers.</div>

<div>For example providers with absolutely free internet could remove most rules and serve clients who want that.</div>



<div class="header">Backline abuse audit process that preserves privacy</div>

<div>We operate as a US company and want to stay and scale in the US. We take the stance that the company itself may be an adversary to user privacy, so that users must be protected with hard cryptography and properly distributed protocols. Our goal is to advance the state of art of logging with better cryptography, so that we can have proper duty of care to resond to abuse, while taking the position that the company should not know anything about the users. Our approach is detailed below on how we response to abuse reports and take action to remove abuse from network.</div>

<div>Any abuse request must be sent to <a href="mailto:notice@bringyour.com">notice@bringyour.com</a> and tell us:

<ul>
<li>When</li>
<li>Source IP and port</li>
<li>Destination IP and port</li>
<li>SHA256 hash of the TLS client random if the abusive connection is TLS encrypted</li>
<li>Reporter contact email. This must be from an official domain that we can use to verify.</li>
<li>Reporter abuse notice</li>
<ul>
</div>

<div>We will need to verify the identify of the reporter, as well as the validity of the abuse notice. We will typically reach out directly to the reporter contact to do the verification.</div>

<div>Typically an abuse notice is submitted by a provider when they receive a notice. However we also work with abuse reporting services so that notices can be filed directly to the network.</div>

<div>We are able to enforce abuse notices because the network maintains an encrypted audit log. Providers opt-in to send encrypted records to the log, and throw away their key. Only the destination or ISP would be able to derive the key, which is what they send in an abuse report.</div>

<div>This ensures extracting data is intractable unless a mostly-complete key is provided, as from an abuse notice. In this way the company cannot decode the data without a legitimate abuse report. With a mostly-complete key, finding the accounts involved in a single record is possible, but it is still computationally intensive by design. We are able to extract single records in sufficient time to feed into the trust and safety process. The technical details can be found in the audit protocol.</div>

<div>The encrypted audit log is maintained for 24 months.</div>

<div>The trust and safety process involves looking at both parties involved in any incident, as well as the submitter of the incident. The result may be that any of the parties or submitter may be removed from the network. Additionally abuse patterns are considered as candidates to incorporate into the frontline system.</div>

<div class="header">Opting out</div>

<div>Providers may opt out of sending encrytped audit records to the platform. However in these cases we will not be able to take action on abuse reports submitted by the provider.</div>

<div class="header">SHA256 hash of the TLS client random</div>

<div>Today the TLS client random value is not typically logged on servers and ISPs. We believe this leads to a standard of logging that forces proxy companies to store logs in a way that compromises user privacy. Using a 256-bit hash of the TLS client random creates enough entropy in the encrypted record key such that it could not be brute forced without a mostly complete abuse report.</div>

<div>We require server and ISP logging where the SHA256 of the TLS client random is stored as part of the log, allowing us and other proxy companies to store user logs in a way that protects user privacy. Our standard is published in the audit protocol. We offer consulting services to implement this logging so that servers and ISPs can add a hash of the TLS client random to their logs. Please contact <a href="mailto:security@bringyour.com">security@bringyour.com</a>.</div>

<div>See the <a href="https://github.com/bringyour/connect/tree/main/connect">audit protocol</a>.</div>



</div>


    {{ footer() }}

</body>
{{ html_footer() }}




