
user www-data;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;


# target concurrent users (from sites.yml): 589824
# https://www.nginx.com/blog/tuning-nginx/
worker_processes auto;
events {
    worker_connections 8192;
    multi_accept on;
}


http {
    ##
    # Basic Settings
    ##

    sendfile on;
    # minimize latency
    tcp_nodelay on;
    tcp_nopush off;
    types_hash_max_size 2048;
    server_tokens off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # Logging Settings
    ##

    access_log /dev/stdout;
    error_log stderr;

    ##
    # Gzip Settings
    ##

    gzip on;

    server {
        listen 80 default_server;

        absolute_redirect off;

        location =/status {
            alias /srv/warp/status/status.json;
            add_header 'Content-Type' 'application/json';
        }
        location / {
            try_files $uri $uri.html $uri/ $uri/index.html =404;
            alias /www/bringyour.com/;

            # always check for updates in the background
            add_header 'Cache-Control' 'max-age=0, stale-while-revalidate=86400';
            add_header 'Last-Modified' '{{ http_last_modified }}';
            add_header 'ETag' '"{{ http_etag }}"';
        }
        location =/discord {
            return 307 https://discord.gg/RUNZXMwPRK;
        }
        location =/roadmap {
            return 307 https://github.com/bringyour/product/discussions/2;
        }
        location =/install {
            return 307 https://play.google.com/store/apps/details?id=com.bringyour.network;
        }
        location =/whitepaper {
            return 307 https://github.com/bringyour/product/blob/main/archive/whitepaper.md;
        }
    }

    server {
        listen 80;
        server_name ur.network *.ur.network;

        absolute_redirect off;

        location =/status {
            alias /srv/warp/status/status.json;
            add_header 'Content-Type' 'application/json';
        }
        location / {
            try_files $uri $uri.html $uri/ $uri/index.html =404;
            alias /www/ur.network/;

            # always check for updates in the background
            add_header 'Cache-Control' 'max-age=0, stale-while-revalidate=86400';
            add_header 'Last-Modified' '{{ http_last_modified }}';
            add_header 'ETag' '"{{ http_etag }}"';
        }
    }

    server {
        listen 80;
        server_name ur.xyz *.ur.xyz;

        absolute_redirect off;

        location =/status {
            alias /srv/warp/status/status.json;
            add_header 'Content-Type' 'application/json';
        }
        location / {
            try_files $uri $uri.html $uri/ $uri/index.html =404;
            alias /www/ur.xyz/;

            # always check for updates in the background
            add_header 'Cache-Control' 'max-age=0, stale-while-revalidate=86400';
            add_header 'Last-Modified' '{{ http_last_modified }}';
            add_header 'ETag' '"{{ http_etag }}"';
        }
    }
}
