
@font-face {
    font-family: 'Arkitech';
    src: url('Arkitech-Light.woff2') format('woff2'),
        url('Arkitech-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Arkitech';
    src: url('Arkitech-Medium.woff2') format('woff2'),
        url('Arkitech-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
