
@font-face {
    font-family: 'Barlow';
    src: url('/res/fonts/Barlow-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Barlow';
    src: url('/res/fonts/Barlow-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Barlow';
    src: url('/res/fonts/Barlow-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Barlow';
    src: url('/res/fonts/Barlow-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
