
#stats-tooltip {
	position: absolute;
	padding: 4px;
	font-size: 10pt;
	font-weight: 200;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border-radius: 0 4px 4px 4px;
}

svg rect.focused {
	fill: rgb(0, 0, 0);
	stroke: rgb(0, 0, 0);
}

div.stats-container img.superfast {
	height: 14px;
	margin-right: 2px;
}