{{ html_header() }}
<head>
    {{ title_icons_meta() }}

    <link rel="canonical" href="https://bringyour.com/">
    <link rel="manifest" href="/manifest.json" />

    {{ fonts() }}

    {{ app_js_css() }}
</head>
<body>
    {{ dialog_connect() }}

    {{ tab_header() }}

    <div class="runner">


        <div class="header">Blog</div>

        <div><a href="/blog/visual">Visual explanation: how to build a VPN from a bunch of personal consumer devices</a></div>
       
    </div>

    {{ footer() }}

</body>
{{ html_footer() }}
