@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-gray-900;
}

h1 {
  @apply text-4xl font-semibold;
}

.button {
  @apply cursor-pointer py-2 px-6 rounded-md active:translate-y-0.5;
}

.btn-primary {
  @apply bg-indigo-600 hover:bg-indigo-700 border border-indigo-700 text-white;
}
